<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="index.html">L<span>.App</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <% if(page){ %>
                <li class=<% if(page == 'home'){%>"active"<% }else{ %>"nav-item" <% } %>"nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class=<% if(page == 'shop'){%>"active"<% }else{ %>"nav-item" <% } %>><a class="nav-link" href="/shop">Shop</a></li>
                <li><a class="nav-link" href="/aboutUs">About us</a></li>
                <li><a class="nav-link" href="/services">Services</a></li>
                <li><a class="nav-link" href="/blog">Blog</a></li>
                <li><a class="nav-link" href="/contactUs">Contact us</a></li>
                <% } %>
            </ul>
            <!-- 
            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" href="#"><img src="static/images/user.svg"></a></li>
                <li><a class="nav-link" href="cart.html"><img src="static/images/cart.svg"></a></li>
            </ul>
             -->

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <% if(userData && cart){ %>
                <li><a class="nav-link" href="/cart"><img src="static/images/cart.svg"><span class="badge text-bg-secondary"><%= cart.items.length %></span></a></li>
                <% } %>
                <% if(userData) { %>
                    <a class="nav-link" href="/userLogout">
                        <!-- <img src="static/images/user.svg"> -->
                        <span class="material-symbols-outlined text-danger mt-1">
                            logout
                        </span>
                    </a>
                    <a class="mt-1 nav-link" href="/userAccount">
                        <span class="material-symbols-outlined">
                            person
                            </span>
                        </a>
                      
                  <% } else { %>
                    <li>
                      <a class="nav-link d-flex" href="/userLogin">
                        <span class="material-symbols-outlined">
                            login
                        </span>
                         Login
                    </a>
                    </li>
                  <% } %>
            </ul>


        </div>
    </div>
        
</nav>
<!-- End Header/Navigation -->